
.burly-wood{
	background-color: #DEB887;
}
.tan{
	background-color: #D2B48C;
}
.rosy-brown{
	background-color: #BC8F8F;
}



/* Create four equal columns that floats next to each other */
.col {
    float: left;
    width: 25%;
    padding: 10px;
}


.logoPlace {
	background: rgb(176, 169, 242);
	height: 200%;
}
 .navigatorPlace {
 	background: rgb(176, 169, 242);
	height: 200%;
	text-align: center;
 }