body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("katinas.gif");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
}

#navigatorPlace {
	background-color: rgb(176, 169, 242);
}